@font-face {
	font-family: "Absolute Pro";
  	font-style: normal;
	font-weight: normal;
	src: local("Absolute Pro"), 
		url("fonts/AbsolutPro-Medium.woff2") format("woff2"),
		url("fonts/AbsolutPro-Medium.woff") format("woff"),
		url("fonts/absolut_pro_medium_reduced.ttf") format("truetype"),
		url("fonts/Absolut_Pro_Medium_reduced.otf") format("otf"),
		url("fonts/AbsolutPro-Medium.eot") format("eot");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116, U+0000-00FF, 
					U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
                	U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
                 	U+2212, U+2215, U+FEFF, U+FFFD;;
}

@media screen and (min-width: 901px) {
	.head_container {
		width: 100%;
		height: auto;
	}

	.chapters {
		display: flex;
		justify-content: flex-start;
		border-bottom: 3px solid #000000;
		border-top: 3px solid #000000;
		width: 100%;
		background-color: rgb(255, 255, 255);
	}

	.chap_button {
		width: 20%;
		padding: 2px 0px;
		font-family: "Absolute Pro", sans-serif;
		font-weight: bold;
		font-size: 28px;
		background-color: rgb(255, 255, 255);
		color: #000000;
		border-left: 3px solid #000000;
		border-right: 3px solid #000000;
	}

	.chap_button:hover {
		cursor: pointer;
		filter: drop-shadow(0 0 13px #000000);
	}

	.main{
		display: flex;
		width: 100%;
	}

	.left{
		width: 70%;
	}

	.right{
		position: relative;
		float: right;
		width: 30%;
	}

	.main_img_container {
		display: flex;
		justify-content: center;
		margin-top: 24px;
		margin-bottom: 20px;
	}

	.main_img {
		max-width: 60%;
		max-height: 55vh;
		border: 3px solid #000000;
	}

	.img {
		width: 100%;
		border: 3px solid #000000;
	}

	.main_block {
		height: auto;
		width: 100%;
	}

	.news {
		width: 100%;
		height: auto;
	}

	.card{
		width: 70%;
		height: auto;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.image_container{
		position: relative;
		max-width: 100%;
		height: auto;
		margin-top: 28px;
		margin-bottom: 28px;
	}

	.description{
		width: 100%;
	}

	.jokes {
		width: 100%;
		height: auto;
	}

	.refs {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.ref_block {
		width: 100%;
		margin-top: 16px;
		margin-bottom: 16px;
		height: 128px;
	}

	.logo {
		position: absolute;
		margin-left: 72px;
		margin-top: 6px;
		margin-bottom: 6px;
		width: 96px;
		height: 96px;
	}

	.logo_img {
		width: 100%;
		border-radius: 50%;
		border: 3px solid #000000;
	}

	.logo_img:hover {
		filter: drop-shadow(0 0 10px #000000);
	}

	.head1 {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 36px;
		font-family: "Absolute Pro", sans-serif;
		text-align: center;
		margin-top: 16px;
		margin-bottom: 16px;
		margin-left: 5%;
	}

	.head2 {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 32px;
		font-family: "Absolute Pro", sans-serif;
		margin-top: 12px;
		margin-bottom: 12px;
		margin-left: 5%;
	}

	.head2_c {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 32px;
		font-family: "Absolute Pro", sans-serif;
		text-align: center;
		margin-top: 12px;
		margin-bottom: 12px;
		margin-left: 5%;
	}

	.main_text {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 28px;
		font-family: "Absolute Pro", sans-serif;
		margin-left: 5%;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.remark {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 24px;
		font-family: "Absolute Pro", sans-serif;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 5%;
		color:#8f8f8f;
	}

	.ref_text {
		position: absolute;
		margin-bottom: 10px;
		margin-left: 160px;
		width: 70%;
	}

	.link{
		text-decoration: none;
	}

	.link:hover{
		text-decoration: underline;
	}

	.icon{
		position: absolute;
		width: 100%;
		opacity: 0.5;
		z-index: 1;
	}

	.icon:hover{
		opacity: 1;
		cursor: pointer;
		filter: drop-shadow(0 0 40px #ffffff);
	}

	.navi{
		position: absolute;
		margin-left: 90%;
		width: 5%;
	}

	.scale{
		position: absolute;
		margin-left: 5%;
		width: 5%;
	}

	.footer{
		width: 100%;
		border-top: 3px solid #000000;
		background-color: #f4f4f4;
		text-align: center;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.footer_link{
		color: #000000;
		text-decoration: none;
	}

	.footer_link:hover{
		text-decoration: underline;
	}
}

@media screen and (max-width: 900px) {
	.head_container {
		width: 100%;
		height: auto;
	}

	.chapters {
		display: flex;
		justify-content: flex-start;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #000000;
		width: 100%;
		background-color: rgb(255, 255, 255);
	}

	.chap_button {
		width: 20%;
		padding: 12px 0px;
		font-family: "Absolute Pro", sans-serif;
		font-weight: bold;
		font-size: 12px;
		background-color: rgb(255, 255, 255);
		color: #000000;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
	}

	.chap_button:hover {
		cursor: pointer;
		filter: drop-shadow(0 0 13px #000000);
	}

	.main{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	.left{
		width: 100%;
	}

	.right{
		position: relative;
		width: 100%;
	}

	.main_img_container {
		display: flex;
		justify-content: center;
		margin-left: 20%;
		width: 60%;
		height: auto;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.main_img {
		max-width: 60%;
		max-height: 55vh;
		border: 1px solid #000000;
	}

	.img {
		width: 100%;
		border: 1px solid #000000;
	}

	.main_block {
		height: auto;
		width: 100%;
	}

	.news {
		width: 100%;
		height: auto;
	}

	.card{
		width: 70%;
		height: auto;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.image_container{
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.description{
		width: 100%;
	}

	.jokes {
		width: 100%;
		height: auto;
	}

	.refs {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.ref_block {
		width: 100%;
		margin-top: 8px;
		margin-bottom: 8px;
		height: 96px;
	}

	.logo {
		position: absolute;
		margin-left: 5%;
		margin-top: 6px;
		margin-bottom: 6px;
		width: 64px;
		height: 64px;
	}

	.logo_img {
		width: 100%;
		border-radius: 50%;
		border: 1px solid #000000;
	}

	.logo_img:hover {
		filter: drop-shadow(0 0 10px #000000);
	}

	.head1 {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 20px;
		font-family: "Absolute Pro", sans-serif;
		text-align: center;
		margin-top: 13px;
		margin-bottom: 13px;
		margin-left: 5%;
	}

	.head2 {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 16px;
		font-family: "Absolute Pro", sans-serif;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5%;
	}

	.head2_c {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 16px;
		font-family: "Absolute Pro", sans-serif;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5%;
	}

	.main_text {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 14px;
		font-family: "Absolute Pro", sans-serif;
		margin-left: 5%;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.remark {
		display: flex;
		flex-direction: column;
		width: 90%;
		font-size: 13px;
		font-family: "Absolute Pro", sans-serif;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: 5%;
		color:#8f8f8f;
	}

	.ref_text {
		position: absolute;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 100px;
		width: 70%;
	}

	.link{
		text-decoration: none;
	}

	.link:hover{
		text-decoration: underline;
	}

	.icon{
		position: absolute;
		width: 100%;
		opacity: 0.5;
		z-index: 1;
	}

	.icon:hover{
		opacity: 1;
		cursor: pointer;
		filter: drop-shadow(0 0 40px #ffffff);
	}

	.navi{
		position: absolute;
		margin-left: 85%;
		width: 10%;
	}

	.scale{
		position: absolute;
		margin-left: 5%;
		width: 10%;
	}

	.footer{
		width: 100%;
		border-top: 1px solid #000000;
		background-color: #f4f4f4;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.footer_text{
		font-size: 8px;
	}

	.footer_link{
		color: #000000;
		text-decoration: none;
	}

	.footer_link:hover{
		text-decoration: underline;
	}
}